{
  "config_comment": "the comment fields are just here so the file can be self-documenting. in your own config files, feel free to omit any fields that end in '_comment'.",

  "apikey_comment": "apikey is assigned by WebPageTest.org's admin or the admin of your private instance.",
  "apikey": "1234567890asdfghjkl",

  "server_comment": "the url running the WebPageTest API. assumes http, not https",
  "server": "www.webpagetest.org",

  "request_delay_comment": "delay between API requests. Don't be Scumbag Steve, set this to a reasonable level.",
  "request_delay": 15000,

  "transport_comment": "store the output wherever you want, just specify the filename here and follow the 'transport/couchdb' and 'transport/filesystem' examples",
  "transport": "couchdb",

  "cron_comment": "Any string accepted by node-cron. WARNING: node-cron has six fields total (it takes a seconds field), unlike /etc/crontab. The example runs once daily at 11:30:00am.",
  "cron": "00 30 11 * * *",

  "cronTZ_comment": "Timezone to use when node-cron sets run time. Defaults to UTC.",
  "cronTZ": "UTC",

  "maxRestarts_comment": "Max number of restarts before forever-monitor bails.",
  "maxRestarts": 3
}
