{
  "config_comment": "the comment fields are just here so the file can be self-documenting. in your own config files, feel free to omit any fields that end in '_comment'.",

  "apikey_comment": "apikey is assigned by WebPageTest.org's admin or the admin of your private instance.",
  "apikey": "1234567890asdfghjkl",

  "server_comment": "the url running the WebPageTest API. assumes http, not https",
  "server": "www.webpagetest.org",

  "request_delay_comment": "delay between API requests. Don't be Scumbag Steve, set this to a reasonable level.",
  "request_delay": 15000,

  "transport_comment": "store the output wherever you want, just specify the filename here and follow the 'transport/couchdb' and 'transport/filesystem' examples",
  "transport": "couchdb",

  "cron_comment": "Any string accepted by node-cron. WARNING: node-cron has six fields total (it takes a seconds field), unlike /etc/crontab. The example runs once daily at 11:30:00am.",
  "cron": "00 30 11 * * *",

  "cronTZ_comment": "Timezone to use when node-cron sets run time. Defaults to UTC.",
  "cronTZ": "UTC",

  "maxRestarts_comment": "Max number of restarts before forever-monitor bails.",
  "maxRestarts": 3,

  "mailOptions_comment": "Options used in sending cronmail. Currently mail is only sent when something goes wrong, or the daemon exits after restarting the max number of times.",
  "mailOptions": {
    "from_comment": "Name/address of cronmail sender.",
    "from": "WPT Cronmail <wpt-cronmail@127.0.0.1>",

    "to_comment": "Name/address of cronmail recipient.",
    "to": "Rootless Root <root@127.0.0.1>",

    "subject_comment": "First portion of Cronmail subject line. Nice to customize if you have multiple copies running and/or like to filter your email.",
    "subject": "[wpt-cronmail]"
  },

  "mailService_comment": "Nodemailer transport setup config. Don't set this option if you don't want to send email. See nodemailer for details.",
  "mailService": {
    "type_comment": "Service type: nodemailer currently supports SMTP, SES, Sendmail.",
    "type": "SMTP",
    
    "options_comment": "See nodemailer docs for options to pass to different transports.",
    "options": {
      "user": "example@gmail.com",
      "pass": "s3kretsqurl",
      "name": "Gmail"
    }
}
